doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= "Frank Order Edit"
    body
      h1.h1 Frank Order Edit
      p 
      strong #{otherProperty}
      br
      Click on the link above to edit your order, it will expire in 10 minutes