doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= "Frank User Login"
    body
      h1.h1 Frank User Login
      p 
      strong #{otherProperty}
      br
      Click on the link above to login, it will expire in 2 minutes