doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= "Frank - Your order has been placed"
    body
      h1.h1 Frank - Your order has been placed
      p 
      strong #{otherProperty}
      br
      p Click on the link above to follow your order