doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= "Frank Store De-actived"
    body
      h1.h1 Frank Store De-actived
      p 
      strong #{otherProperty}
      br
      Please enter this code in your app to verify your email address